@font-face {
    font-family: "Montserrat";
    src: url("./font/Montserrat-VariableFont_wght.ttf");
    }

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Montserrat;
    color: white;
}
header{
    height: 20vmin ;
    width: 100%;
    background-color:#093774;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 94, 0.781);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
#logo{
    width: 50%;
}    
#menu{
        width: 50%;
        height: fit-content;
        display: flex;
        justify-content: right;
        margin-right: 2vmin;
        .dash{
            height: 1.5vmin;
            width: 12vmin;
            background-color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        }
        .space{
            height: 2vmin;
            width: 12vmin;
            opacity: 0%;
        }
    }

#content{
    text-align: center;
    #logo{
        margin-top: 20vmax;
        width: 100%;
        text-align: center;
    }
    button{
        margin-top: 10%;
        width: 30%;
        height: 5vmax;
        border-radius: 5px;
        font-size: 3vw;
        transition: 0.5s;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
        border-style: none;
        background-color: #093774;
        color: white;
    }
    #login:hover{
        background-color: rgb(101, 101, 235);
    }
}    
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 15vmin ;
    width: 100%;
    background-color:#093774;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -3px 8px;
    p{
        font-size: 4vw;
    }
}

.as{
    text-align: center;
    margin-top: 60vmin;
    color: yellow;
    background-color: #093774;
    border-radius: 20vmin;
    border-style:solid;
    border-color: black;
}

#entrar{
    margin-top: 5vmin;
    color: yellow;
    background-color: #093774;
    width: 50vmin;
    height: 15vmin;
    border-radius: 10vmin;
    border-style: solid;
    border-color: black;
}
