#seriesf, #seriese{
    color: rgb(238, 255, 0);
    font-size: 15vmin;
    text-align: center;
    margin-top: 10vmin;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#content{
   display: flex;
   justify-content: center;
   #buttons-div{
      text-align: center;
      /* button{
         margin: 3vmin;
         height: 10vmin;
         width: 30vmin;
         background-color: rgb(238, 255, 0);
         border-style: none;
         box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
      } */
   }
}
  #series_finais{
    background-repeat: no-repeat;
    background-size: cover;
 }


