#seriesf, #seriese{
    color: rgb(238, 255, 0);
    font-size: 15vmin;
    text-align: center;
    margin-top: 10vmin;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;


}

#game{
    margin-left: 32vmin;
    border-radius: 2vmin;
    font-size: 10vmin;
    background-color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
 }
 
 #books{
     margin-top: 10vmin;
     margin-left: 32vmin;
     border-radius: 2vmin;
     font-size: 10vmin;
     background-color: yellow;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: black
  }
 
  #signs{
     margin-top: 10vmin;
     margin-left: 32vmin;
     border-radius: 2vmin;
     font-size: 10vmin;
     background-color: yellow;
     -webkit-text-stroke-width: 1px;
     -webkit-text-stroke-color: black
  }

  #series_finais{
    background-image:url(../style/img/series_finais\ traffic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }


