footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vmin ;
    bottom: 0;
    height: 8%;
    width: 100%;
    background-color:#093774;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -3px 8px;
    p{
        font-size: 4vw;
    }
}