@font-face {
    font-family: "Montserrat";
    src: url("./font/Montserrat-VariableFont_wght.ttf");
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Montserrat;
    color: white;
}

button{
    font-family: Montserrat;
    font-size: 2vw;
}

#submit{
    width: 30vmin;
    color:#093774;
    background-color: white;
    height: 15vmin;
    border-radius: 15px;
    border-style: none;
    font-size: 4vw;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
  
#menu{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: right;
    margin-right: 2vmin;
    .dash{
        height: 1.5vmin;
        width: 12vmin;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    }
    .space{
        height: 2vmin;
        width: 12vmin;
        opacity: 0%;
    }
}

header{
    height: 10%;
    width: 100%;
    background-color:#093774;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 94, 0.781);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    #logo{
        width: 50%;
        display: flex;
        align-items: center;
        margin-left: 2vmin;
    }
}