#ensino_medio {
    background-image: url(../style/img/ensino_medio\ traffic.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#video1 {
    border-radius: 5vmin;
}

#video2 {
    border-radius: 5vmin;
}

#ensino_medio {
    background-image: url(../style/img/ensino_medio\ traffic.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#regras {
    border-radius: 2vmin;
    font-size: 7vmin;
    background-color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 10vmin;
}

#seriese {
    color: rgb(238, 255, 0);
    font-size: 15vmin;
    text-align: center;
    margin-top: 10vmin;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .videos{
        margin: 5vmin;
        background-color: #093774;
        iframe{
            width: fit-content;
            max-width: 100%;
        }
        border: 2px solid #093774;
        border-radius: 5px;
    }
    button{
        border-style: none;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    }
}
