#ensino_medio {
    background-image: url(../style/img/ensino_medio\ traffic.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#video1 {
    margin-left: 10vmin;
    border-radius: 5vmin;
    margin-bottom: 10vmin;
}

#video2 {
    margin-left: 10vmin;
    border-radius: 5vmin;
}

#ensino_medio {
    background-image: url(../style/img/ensino_medio\ traffic.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

#regras {
    margin-left: 18vmin;
    border-radius: 2vmin;
    font-size: 7vmin;
    background-color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 10vmin;
}

#seriese {
    color: rgb(238, 255, 0);
    font-size: 15vmin;
    text-align: center;
    margin-top: 10vmin;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}