#video1{
    margin-left: 10vmin;
    border-radius: 5vmin;
    margin-bottom: 10vmin;
}

#video2{
    margin-left: 10vmin;
    border-radius: 5vmin;
}

#series_iniciais{
    background-image:url(../style/img/series_iniciais\ traffic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }