#login{
    h1{
        font-size: 10vw;
    }
}
section{
    height: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: right;
    margin-right: 2vmin;
    .dash{
        height: 1.5vmin;
        width: 12vmin;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    }
    .space{
        height: 2vmin;
        width: 12vmin;
        opacity: 0%;
    }
}

#main-content{
    margin-left: 10vmin;
    margin-right: 10vmin;
    font-size: 5vw;
}

.inputandfield{
    font-size: 3.5vw;
    display: flex;
    margin-bottom: 2vmin;
    div{
        width: 100%;
    }
    .label{
        display: flex;
        justify-content: left;
        text-align: left;
    }
    .input-boxes{
        display: flex;
        justify-content: right;
        input{
            border-radius: 5px;
            height: 5vmin;
            width: 100%;
            border-style: none;
        }
        select{
            width: 80%;
            height: 5vmin;
            background-color: white;
            border-style: none;
            border-radius: 5px;
            color: #093774;
        }
    }
    
}

.space{
    height: 2vmin;
}

.cell{
    text-align: center;
    color: white;
    background-color: #093774;
    border-radius: 20px;
    border-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}