/*#buttons-section{
    font-size: 3vw;
    color: #093774;
    section{
        height: 2vmin;
        
    }
}
login
#seriesf, #seriese{
    color: rgb(238, 255, 0);
    font-size: 15vmin;
    text-align: center;
    margin-top: 10vmin;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
*/

@font-face {
    font-family: "Montserrat";
    src: url("./font/Montserrat-VariableFont_wght.ttf");
}

html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Montserrat;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

button{
    font-family: Montserrat;
    font-size: 2vw;
}

#submit{
    width: 30vmin;
    margin: 5vmin;
    color:#023859;
    background-color: white;
    height: 15vmin;
    border-radius: 15px;
    border-style: none;
    font-size: 4vw;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
  
#menu{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: right;
    margin-right: 2vmin;
    .dash{
        height: 1.5vmin;
        width: 12vmin;
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    }
    .space{
        height: 2vmin;
        width: 12vmin;
        opacity: 0%;
    }
}

#menu-icon{
    transition: 1s;
}
@media only screen and (max-width: 600px) and (min-height:545px ) {

header{
    height: 10%;
    width: 100%;
    background-color:#093774;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 94, 0.781);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
    div{
        width: 100%;
    }
    #logo-joinville{
        display: flex;
        align-items: center;
        margin-left: 2vmin;
        img{
            max-height: 10vmin;
        }
    }
    #logo-eptran{
        display: flex;
        align-items: center;
        justify-content: center ;
        img{
            max-height: 10vmin;
        }
    }
    #menu-container{
        display: flex;
        justify-content: right;
        align-items: center;
    }
}

#footer-gap{
    height: 8%;
}

iframe{
    width: fit-content;
    max-width: 100%;
    background-color: #093774;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vmin ;
    bottom: 0;
    position: fixed;
    height: 8%;
    width: 100%;
    background-color:#093774;
    background-color:#093774;
    box-shadow: rgba(0, 0, 0, 0.5) 0px -3px 8px;
    p{
        font-size: 4vw;
    }
    div{
        width: 100%;
    }
    .logo-1{
        display: flex;
        justify-content: right;
    }
    .logo-2{
        width: fit-content;
        display: flex;
        justify-content: center;
    }
    .logo-3{
        display: flex;
        justify-content: left;
    }
    .logo-footer{
        display: flex;
        align-items: center;
        margin-left: 2vmin;
        img{
            max-height: 9vmin;
        }
    }
}

  }

  a{
    color: white;
  }