#buttons-section{
    font-size: 3vw;
    color: #093774;
    section{
        height: 2vmin;
        
    }
}
/*login*/
#seriesf, #seriese{
    color: rgb(238, 255, 0);
    font-size: 15vmin;
    text-align: center;
    margin-top: 10vmin;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;


}

#video1{
    margin-left: 10vmin;
    border-radius: 5vmin;
    margin-bottom: 10vmin;
}

#video2{
    margin-left: 10vmin;
    border-radius: 5vmin;
}

#game{
   margin-left: 32vmin;
   border-radius: 2vmin;
   font-size: 10vmin;
   background-color: yellow;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

#books{
    margin-top: 10vmin;
    margin-left: 32vmin;
    border-radius: 2vmin;
    font-size: 10vmin;
    background-color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
 }

 #signs{
    margin-top: 10vmin;
    margin-left: 32vmin;
    border-radius: 2vmin;
    font-size: 10vmin;
    background-color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black
 }

 #series_finais{
    background-image:url(../style/img/series_finais\ traffic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 #series_iniciais{
    background-image:url(../style/img/series_iniciais\ traffic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 #ensino_medio{
    background-image:url(../style/img/ensino_medio\ traffic.webp);
    background-repeat: no-repeat;
    background-size: cover;
 }

 #regras{
    margin-left: 18vmin;
    border-radius: 2vmin;
    font-size: 7vmin;
    background-color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    margin-bottom: 10vmin;
 }


