#buttons-section{
    font-size: 3vw;
    color: #093774;
    section{
        height: 2vmin;
        
    }
}
/*login*/
#seriesf, #seriese{
    color: rgb(238, 255, 0);
    font-size: 15vmin;
    text-align: center;
    margin-top: 10vmin;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;


}


